body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  line-height: 1.2;
  background:$cream;
  color: $darkBlue;
  letter-spacing: 0.1em;
}

h1{
  font-size: 2em;
  margin: 2em 0 0 0;
}

h2{
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}

h3{
  font-size: 1.1em;
  margin:0.2em 0;
}

p{
  font-size: 1em;
  margin: 1em 0;
}

a{
  color: $lightBlue;
  text-decoration: none;
  border-bottom: 0.1em solid;
}

a:active{ 
  color: $darkBlue;  
}

a:hover{ 
  border-bottom: 0.15em solid; 
}

a:visited{ 
  color: $grey;
}

button{
  background: $lightBlue;
  color: $cream;
  font-size: 1em;
  outline: 0;
  border-style: solid;
  border-color: $darkBlue;
  border-radius: 0.5em;
  padding: 0.2em;
  &:hover{
    background: $darkBlue;
  }
}

input{
  background: $lightBlue;
  color: $cream;
  font-size: 1em;
  border-color: $darkBlue;
  border-radius: 0.5em;
  width:27.5%;
  padding: 0.2em;
   outline: none;
  &:focus{
    background:$darkBlue;
  }
}

.wrap{
  width:90%;
  max-width:40em;
  margin:0 auto;
}